@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

:root {
  --main--green: #15b772;
  --main--yellow: #feda78;
  --main--red: #f83d3e;
  --main--beige: #d8bea0;
  --grayscale--white: #ffffff;
  --grayscale--gray01: #f3f2f9;
  --grayscale--gray02: #e7e6eb;
  --grayscale--gray03: #d2d0d8;
  --grayscale--gray04: #d2d0d8;
  --grayscale--gray05: #adadb2;
  --grayscale--gray06: #8f8e93;
  --grayscale--gray07: #636267;
  --grayscale--gray08: #48484a;
  --grayscale--gray09: #3a3a3c;
  --grayscale--gray10: #2c2c2e;
  --grayscale--gray11: #1c1c1e;
  --grayscale--black: #000000;

  --font-pretendard: "Pretendard Variable", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  --background: "#121214";
}

body {
  max-width: 600px; /* 최대 너비를 600px로 제한 */
  margin: 0 auto !important; /* 화면 중앙 정렬 */
  padding: 0 16px; /* 좌우 여백 추가 (선택 사항) */
  overflow-x: hidden; /* 가로 스크롤 제거 */
  font-family: var(--font-geist-sans); /* 기본 폰트 설정 */
  box-sizing: border-box; /* 모든 요소 크기 계산 포함 */
  background-color: #121214;
  min-height: 100svh;
}

@media (max-width: 600px) {
  body {
    max-width: 100%; /* 모바일에서는 전체 화면 사용 */
  }
}
